# Data (if you don't want to track data in Git, which is often the case)
# The trailing / is important to ignore the directory and its contents
data/  

# Python virtual environment
.venv/
__pycache__/
*.pyc

# R environment and temporary files
# This is usually sufficient; no need to list individual files within .Rproj.user
.Rprofile
.Rproj.user/  
.Rhistory
.RData
.Ruserdata
renv/
# Ignores the private library
renv/private 
renv/staging
renv/cache

# OS-specific files
.DS_Store
Thumbs.db

# Quarto temporary files
_freeze/
_manuscript/
.quarto/
*_cache/
*_files/

# Other files/directories to ignore
iss.code-workspace # If you use VS Code
.Rprofile # Good to ignore if it contains machine-specific paths or settings
.Rproj.user
